.calculator {
    display: flex; 
    flex-direction: column; 
    align-items: center;  
    margin: auto; 
    width: 400px; 
    height: 550px;
    border-radius: 15px; 
    background-color: #aaa; 
    border: 1.5px solid; 

}

.screen {
    display: flex; 
    flex-direction: column-reverse; 
    text-align: right; 
    border-radius: 5px; 
    margin: 15px; 
    width: 350px; 
    height: 115px; 
    background-color: #eeeeee;
    border: 2px solid; 
}

.clr-dlt-btns {
    display: flex; 
    width: 350px; 
    height: 65px; 
}

#clr-btn {
    flex: 1; 
    text-align: center; 
    border-radius: 5px; 
    margin-right: 8px;
    background-color: #ffaaaa; 
    font-weight: bold;
    border: 1.5px solid; 
}

#dlt-btn {
    flex: 1; 
    text-align: center; 
    border-radius: 5px; 
    background-color: #99e; 
    margin-left: 8px; 
    font-weight: bold; 
    border: 1.5px solid; 
}
#dlt-btn:hover {
    background-color: #88d;
}
#clr-btn:hover {
    background-color: rgb(208, 120, 120);
}
.calculation-btns {
    display: flex; 
    flex-direction: column; 
    margin: 10px; 
    width: 350px; 
    height: 325px; 
}

.row-1, .row-2, .row-3, .row-4 {
    display: flex;
    flex: 1;
}

.calculation-btns button {
    flex: 1; 
    margin: 5px; 
    border-radius: 5px; 
    border: 1.5px solid; 
    font-weight: bold; 
}

.calculation-btns button:hover {
    background-color: #ddd; 
}
